* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    color: #FFFFFF;
}

.content {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #343434;
}

.header {
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    padding: 10px;
    padding-top: 50px;
    background-color: #3489AF;
}

.avatar_url {
    width: 200px;
    height: 200px;
    margin: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 200px;
    background-size: 200px 200px;
}

.login {
    font-size: 25px;
    font-weight: 600;
}

.name {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 30px;
}

.projects table {
    width: 100%;
}