* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    color: #FFFFFF;
}

.content {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #FFFFFF;
}

.header {
    width: 100%;
    position: relative;
    padding-bottom: 10px;
    padding-top: 50px;
    background-color: #3489AF;
    border-bottom: 5px solid #343434;
}

.avatar_url {
    width: 200px;
    height: 200px;
    margin: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 200px;
    background-size: 200px 200px;
}

.login {
    font-size: 25px;
    font-weight: 600;
}

.name {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 30px;
}

.projects {
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
}

.project {
    position: relative;
    float: left;
    width: 200px;
    height: 200px;
    padding: 10px;
    border: 1px solid #343434;
    border-bottom: 5px solid #141414;
    border-radius: 5px;
    margin: 5px;
    color: #FFFFFF;
    background-color: #545454;
    cursor: pointer;
    transition: all 0.3s;
}

.project:hover {
    border: 1px solid #14698F;
    border-bottom: 5px solid #14698F;
    background-color: #3489AF;
}

.project .name {
    position: absolute;
    word-break: break-all;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background-color: #141414;
    padding: 5px 0;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    transition: all 0.3s;
}

.project:hover .name {
    background-color: #14698F;
}